body {
  margin: 0;
}

b {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100px;
  background-color: deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  /* border: 0.854px solid grey; */
}

.button {
    width: 42px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.search-form {
  width: 250px;

}

.input-wrapper {
    position: relative;
    display: block;
    height: 35px;
}

.icon {
    stroke: rgb(162, 156, 156);
    fill: rgb(69, 66, 66);
}

.photo-card {
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3efefd6;
}

.photo-card img {
  width: 100%;
  height: 150px;
}

.load-more {
  display: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.photo-card {
  width: 200px;
  height: 200px;
  border: 3px
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  align-items: center;
}

.info-item {
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}